@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<h1>Reset Password Confirmation</h1>

<p>
    Password has been reset. Please <a asp-action="Login">Login</a>
</p>

<div class="p-3 m-3 mb-2 bg-success text-white">Tutorial link: - <a class="text-white" target="_blank" href="https://www.yogihosting.com/aspnet-core-identity-password-reset/">Creating Password Reset feature in ASP.NET Core Identity</a></div>